@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    height: 100vh;
}

svg{
    display: none;
    height: 24px;
    width: 24px;
}

.city{
    display: flex;
    justify-content: space-between;
}

.checked{
    color: blue;
}

.checked  svg{
    display: block;
    fill: yellow;
}

.navbar__list{
    display: none;
}

.navbar__list a{
    display: block;
    color: white;
    padding-inline: 2rem;
    padding-block: 1rem;
}

.navbar__list a:hover{
    background-color: hsl(192, 91%, 45%);
}

.navbar__list--open{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
